<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <script th:replace="fragments/header :: headerElement"></script>
    <title>Yourpinion</title>
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top: 2em">
            <div class="col-8">
                <h1>Hello Yourpiniorees!</h1>
            </div>
            <div class="col-4">
                <button class="btn btn-primary float-right" type="button" id="login-button">Login</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        let loginBtn = document.getElementById('login-button')
        loginBtn.addEventListener('click', function () {
            window.location.href = '/login'
        })
    </script>
</body>
</html>